
<h3 class="storefront-title">Series "<%=  %>"</h3>

	<div id="slideshow" class="sliders center-it" style:"clear:both;">
		<%= @products %>

	      <% @carousel.each do |carousel| %>

	      <%= image_tag carousel, class: "slide"%>

	      <% end %>
	</div>





<div class ="masonary-row row">
	<% @products.each do |p| %>

		<div class="col-xs-12 col-sm-6 col-lg-6">
				<div class="panel center-it">

					<% if p.image.url.nil? == false %>
						<%= image_tag p.image, class: "storefront-pic" %>
					<% end %>

					<h3  class="storefront-text"><%= p.name %></h3>
				</div>


		</div>
	<% end %>
</div>
