<h1 class="portfolio-title text-center">Welcome to My Flowers</h1>

<div class="feature">

	<div id="slideshow" class="sliders center-it" style:"clear:both;">
		<%= @index %>

	      <% @carousel.each do |carousel| %>

	      <%= image_tag carousel, class: "slide"%>

	      <% end %>
	</div>

	<div class="row feature-link-section">
		<!-- Fine Art -->
			<div class="panel col-lg-4 col-md-4 col-sm col-xs">


		
			
			<% if @product1 != nil %>	
			<%= link_to portfolio_path(category: @product1.category) do %> 	<%= image_tag @product1.image, class: "feature-link-pic" %>
			<% end %>

				<div class="feature-link-text">	
					<h5><%= @product1.category %></h5>
				
				</div>
						
		<% end %>



			</div>
			<!-- Portraits -->
			<div class="feature-link-panel panel col col-lg-4 col-md-4 col-sm col-xs">
					
				<% if @product2 != nil %>	

					<%= link_to portfolio_path(category: @product2.category) do %> 	<%= image_tag @product2.image, class: "feature-link-pic" %>
						<% end %>

							<div class="feature-link-text">
								<h5><%= @product2.category%></h5>
							</div>
				<% end %>
				
			</div>
			<!-- Store -->
				<div class="feature-link-panel panel col col-lg-4 col-md-4 col-sm col-xs">
					
				<% if @product3 != nil %>	
					<%= link_to portfolio_path(category: @product3.category, previous_work: @product3.previous_work) do %> 	<%= image_tag @product3.image, class: "feature-link-pic" %>
							<% end %>

							<div class="feature-link-text">
								<h5><%= @product3.category %></h5>
							</div>
					<% end %>
				
			</div>

	</div>

</div> 