<p id="notice"><%= notice %></p>



 <div class="col col-lg-2 col-mid-4 col-sm-4">
		<p>
		  <strong>Series Name:</strong>
		  <%= @series.name %>
		</p>

		<p>
		  <strong>Year:</strong>
		  <%= @series.year %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @series.description %>
		</p>

		<p>
		  <strong>Total qty:</strong>
		  <%= @series.total_qty %>
		</p>

		<%= link_to 'Edit', edit_series_path(@series), class: "btn btn-default" %> 
		<%= link_to 'Series', series_index_path, class: "btn btn-default" %>
		<%= link_to 'New Series', new_series_path, class: "btn btn-default" %>



  </div>
  <div class="col col-lg-10 col-md-8 col-sm-8">
 <p>
  <%= image_tag @series.image, class: "admin-show-pic"%>
</p>
</div>